ai-venv
ai-venv-wsl
OANC-GrAF
BacteriaKaggle
.gitignore
nlp/annotated/wzorcowy.txt
nlp/template/anotowany.txt
__pycache__
nlp/corpus_general_plain.txt
nlp/corpus_specialized_annotated.csv
.gitignore
nlp/corpus_specialized_plain.txt
nlp/full_m1.bin
.gitignore
nlp/full_m2.bin
nlp/sample_m1.bin
nlp/sample_m2.bin
